@import url("navigation.css");
@import url("footer.css");
@import url("center-embed.css");

:root {
    --text: #2E3338;
    --background: white;
    --accent: #747F8D;
    --input: #EEE;
    --link: #4899EA;
    --confirm: #75D6A7;
}

*, *::before, *::after {
    margin: 0;
    color: var(--text);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background);
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, p, b, i {
    cursor: default;
}

input[type="submit"] {
    cursor: pointer;
    background-color: var(--confirm);
    padding: 10px 0;
}

input, label {
    display: block;
}

.checkbox input, .checkbox label {
    display: inline-block;
}

.cover-image {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url("../resources/placeholder.png");
    background-size: cover;
    z-index: -2;
}

.cover-page {
    position: fixed;
    height: 100vh;
    width: 100vw;
    transform: skew(-20deg);
    margin-left: -50vw; /* Adding this to prevent overflow */
    background-color: var(--background);
    border-right: 1px solid var(--accent);
    z-index: -1;
}

@media only screen and (max-height: 500px) {
    .cover-page {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .cover-page {
        display: none;
    }

    .cover-image {
        display: none;
    }
}