#table-holder {
    width: 80vw;
    margin: auto;
    border: 1px solid var(--accent);
    border-radius: 10px;
    overflow: hidden;
}

#table-holder p:hover, #table-holder input[type="file"]:hover {
    background-color: var(--accent-light);
}

#table-holder p, #table-holder input[type="file"] {
    cursor: pointer;
    line-height: 50px;
    font-size: 19px;
    transition: 0.5s;
}

#table-holder input[type="file"] {
    width: 100%;
    height: 50px;
    color: transparent;
    border-top: 2px solid var(--accent);
}

#table-holder input[type="file"]::before {
    content: attr(data-text);
    display: flex;
    justify-content: center;
}

#table-holder input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

#table-holder #selection {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 2px solid var(--accent);
}

#table-holder #selection * {
    display: inline-block;
    flex: 1 1 auto;
}

#table-holder #selection .active {
    background-color: var(--accent-light);
}

#table-holder #content {
    width: 100%;
}

#table-holder #content {
    border-collapse: collapse;
}

#table-holder #content tr {
    border-top: 1px solid var(--accent);
}

#table-holder #content th {
    padding: 7px;
    text-align: left;
}

#table-holder #content td.delete svg {
    cursor: pointer;
    padding: 5px;
}

#table-holder #content input, #table-holder #content select {
    padding: 7px;
    display: inherit;
    border: none;
    width: 100%;
    height: 100%;
}

#table-holder #content input:read-only {
    cursor: default;
}

#table-holder #content input:focus {
    outline: none;
}

#table-holder #content:empty {
    height: 30px;
}

#table-holder .create {
    width: 100%;
    height: 50px;
    border-top: 2px solid var(--accent);
}